/* styles.css */
body {
    background-color: #FFA500; /* Orange background */
    color: #008000; /* Green text */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 10px;
}

.content {
    text-align: center;
    padding: 20px;
}

input[type="text"] {
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #008000; /* Green border */
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #008000; /* Green background */
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #006400;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #FFC0CB; /* Pink background */
    color: #FFFFFF; /* White text */
    padding: 20px;
}
